#bvr{
    justify-content: flex-end;
    padding: 9px 15px 9px 15px;
    color: blueviolet;
    background-color: rgb(75, 17, 129);
    border-radius: 10px;
    
}

#fcc{
    justify-content: flex-end;
    padding: 15px 15px 15px 15px;
    color: rgb(147, 226, 43);
    background-color: rgb(30, 129, 17);
    border-radius: 10px;
}