#bvr{
    justify-content: flex-end;
    padding: 9px 15px 9px 15px;
    color: blueviolet;
    background-color: rgb(75, 17, 129);
    border-radius: 10px;
    
}

#bcr{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 9px;
    padding-right: 9px;
    background-color: #10847a;
    border-radius: 10px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    
}

#bcr:hover{
    background-color: #1d948a;
    transition: background-color 0.5s ease-out,;
    
}

#bcr:active{
    background-color: #0b302d;
    color: white;
    transition: background-color 0.5s ease-out, color 0.5s, 1s ease-in-out;
    width: 200px;
    height: 200px;
}