.vidvig{
    width: 200px;
    height: 250px;
    background-color: brown;
    margin-left: 250px;
    margin-top: -240px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 1s ease-out;}.vidvig:hover{margin-top: -30px;}


@media screen and (max-width:550px){
    .bsht{
        display: none;
    }
    .bbr{
        margin-top: 10px;
        position: absolute;
    }
    .bbr2{
        margin-top: 255px;
        position: absolute;
    }
    .vidvig{
        display: none;
    }
    img{
        filter: grayscale(100%);
        transition: all 0.5s;
    }
}

td:hover{
    background-color:rgb(214, 118, 118);
    transition: all 0.5s;
}

td:active{
    background-color:rgb(219, 158, 158);
    transition: all 0.1s;
}
td>img:active{
    filter: hue-rotate(15090deg);
    transition: all 0.1s;
}