#fbi {
    background-color: aqua;
    width: 30vw;
    color: white;
    animation: ebm 5s linear alternate infinite;
}
@keyframes ebm{
    from{
        margin-left: 0px;
    }
    to{
        margin-left: 950px;
    }
}