.heart{
    background-image: url(heart.png);
    background-repeat: no-repeat;
    transition: all 5s;
    width: 300px;
    height: 100%;
    filter: grayscale(100%);
}

.heart:hover{
    filter: grayscale(10%);
    transform: scale(1.5);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}