#fbi {
    background-color: aqua;
    width: 30vw;
    color: white;
    animation: ebm 5s linear 1s alternate infinite;
}
@keyframes ebm{
    0%{
        margin-left: 0px;
    }
    50%{
        background-color: blue;
    }
    100%{
        margin-left: 950px;
    }
}