*{
    padding: 0;
    margin: 0;
}

body {
    width: 1920px;
    height: 5155px;
    background-color:#162831 ;
    color: white;
}

header{
    width: 1298px;
    height: 60px;
    display: flex;
    margin: 30px auto 0 auto;
}

header img{
    justify-content: flex-start;
}

nav{
    margin: 30px auto 0 auto;
}

nav a{
    color: white;
    margin-left: 50px;
    text-decoration: none;
}

header button{
    justify-content: flex-end;
    padding: 9px 15px 9px 15px;
    color: white;
    background-color: #018abe;
    border-radius: 10px;
}

.heads_logo{
    width: 1296px;
    height: 600px;
    background-image: url("bsht.png");
    margin: 140px auto 0 auto;
    text-align: center;
    padding-top: 230px;
    background-repeat: no-repeat;
}