#ah {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(0, 132, 255);
    user-select: none;
}

#bh {
    text-align: center;
    background-color: rgb(29, 14, 240);
    user-select: none;
}

.sht {
    color: rgb(75, 75, 224);
    background-color: rgb(0, 132, 255);
    user-select: none;
}

#red {
    color: brown;
    user-select: none;
}

.non:active {
    color: brown;
    display: none;
}